<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Saucedemo Automation Suite">
  <test thread-count="5" name="Functional Test">
    <classes>
      <class name="tests.LoginTest"/>
      <class name="tests.ProductsTest"/>
      <class name="tests.LogoutTest"/>
    </classes>
  </test> <!-- Functional Test -->
</suite> <!-- Saucedemo Automation Suite -->
